@import "tailwindcss";

:root {
  --color-primary: #166534; 
  --color-primary-light: #22c55e;
  --color-secondary: #14532d;

  /* --background: #f9fafb; */
  --foreground: #111827;
  --border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #f3f4f6;
    --border: #1f2937;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

html,
body {
  background-color: var(--background) !important; 
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}
